In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.random.random((3,7)),columns=['S','M','T','W','T','F','S'])

In [9]:
# prints only keys
for i in df:
    print(i)

S
M
T
W
T
F
S

In [22]:
# iterate through column_name and columns as series
# This is same as iteritems()
for (col_name,series) in df.items():
    print(col_name)
    print(series)

S
0    0.915241
1    0.320718
2    0.946279
Name: S, dtype: float64
M
0    0.418658
1    0.966587
2    0.797119
Name: M, dtype: float64
T
0    0.740419
1    0.852746
2    0.564459
Name: T, dtype: float64
W
0    0.942251
1    0.142251
2    0.777187
Name: W, dtype: float64
T
0    0.740261
1    0.577027
2    0.774944
Name: T, dtype: float64
F
0    0.763123
1    0.378831
2    0.782772
Name: F, dtype: float64
S
0    0.699081
1    0.229062
2    0.267720
Name: S, dtype: float64

In [27]:
# iterate through row values
for row in df.values:
    print(row)

[0.91524075 0.41865808 0.74041862 0.94225082 0.74026072 0.76312337
 0.6990806 ]
[0.32071822 0.96658748 0.85274628 0.14225137 0.57702732 0.37883068
 0.22906224]
[0.94627881 0.79711938 0.56445927 0.77718707 0.77494355 0.78277213
 0.26772044]

In [31]:
for row_index,row_series in df.iterrows():
    print(row_index)
    print(row_series)

0
S    0.915241
M    0.418658
T    0.740419
W    0.942251
T    0.740261
F    0.763123
S    0.699081
Name: 0, dtype: float64
1
S    0.320718
M    0.966587
T    0.852746
W    0.142251
T    0.577027
F    0.378831
S    0.229062
Name: 1, dtype: float64
2
S    0.946279
M    0.797119
T    0.564459
W    0.777187
T    0.774944
F    0.782772
S    0.267720
Name: 2, dtype: float64

In [39]:
# iterate through rows as tuples, where first item in tuple is the index
for (idx,*values) in df.itertuples():
    print(idx)
    print(values)

0
[0.9152407494113022, 0.41865807960525836, 0.7404186158000085, 0.9422508207167336, 0.7402607211758495, 0.7631233657824896, 0.6990805971485357]
1
[0.32071822493302926, 0.9665874800581931, 0.8527462787527037, 0.14225137167508084, 0.5770273248483808, 0.3788306786301826, 0.22906223683951565]
2
[0.9462788053419451, 0.7971193840161926, 0.5644592699238921, 0.777187068786242, 0.7749435542363455, 0.782772133160761, 0.26772043510017984]