In [1]:
import numpy as np
import pandas as pd

In [2]:
# None/NaN values are ignored
series = df = pd.Series(['Sun',None,'Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])

In [3]:
series

0        Sun
1       None
2    Mercury
3      Venus
4      Earth
5       Mars
6    Jupiter
7     Saturn
8     Uranus
9    Neptune
dtype: object

In [4]:
series.str.lower()

0        sun
1       None
2    mercury
3      venus
4      earth
5       mars
6    jupiter
7     saturn
8     uranus
9    neptune
dtype: object

In [5]:
series.str.len()

0    3.0
1    NaN
2    7.0
3    5.0
4    5.0
5    4.0
6    7.0
7    6.0
8    6.0
9    7.0
dtype: float64

In [6]:
series.str.split('a|e|i|o|u')

0          [S, n]
1            None
2     [M, rc, ry]
3       [V, n, s]
4        [E, rth]
5         [M, rs]
6    [J, p, t, r]
7      [S, t, rn]
8      [Ur, n, s]
9    [N, pt, n, ]
dtype: object

In [7]:
# Gives a single value
series.str.cat(sep=' ')

'Sun Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune'

In [8]:
series.str.count('[aeiou]')*100/series.str.len()

0    33.333333
1          NaN
2    28.571429
3    40.000000
4    20.000000
5    25.000000
6    42.857143
7    33.333333
8    33.333333
9    42.857143
dtype: float64

In [9]:
series.str.replace('[aeiou]','X')

0        SXn
1       None
2    MXrcXry
3      VXnXs
4      EXrth
5       MXrs
6    JXpXtXr
7     SXtXrn
8     UrXnXs
9    NXptXnX
dtype: object

In [10]:
print((series+' ').str.repeat(4))
# Same as above
print((series+' ')*4)

0                    Sun Sun Sun Sun
1                                 NaN
2    Mercury Mercury Mercury Mercury
3            Venus Venus Venus Venus
4            Earth Earth Earth Earth
5                Mars Mars Mars Mars
6    Jupiter Jupiter Jupiter Jupiter
7        Saturn Saturn Saturn Saturn
8        Uranus Uranus Uranus Uranus
9    Neptune Neptune Neptune Neptune
dtype: object
0                    Sun Sun Sun Sun
1                                 NaN
2    Mercury Mercury Mercury Mercury
3            Venus Venus Venus Venus
4            Earth Earth Earth Earth
5                Mars Mars Mars Mars
6    Jupiter Jupiter Jupiter Jupiter
7        Saturn Saturn Saturn Saturn
8        Uranus Uranus Uranus Uranus
9    Neptune Neptune Neptune Neptune
dtype: object

In [11]:
# first index of 'e'
series.str.find('e')

0   -1.0
1    NaN
2    1.0
3    1.0
4   -1.0
5   -1.0
6    5.0
7   -1.0
8   -1.0
9    1.0
dtype: float64